<!DOCTYPE html>
<html lang="kr">
<head>
<title>메인 화면</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- <script type="text/javascript" src="/JqueryPro/js/member/zippopup.html"></script> -->
<!-- ☆   ?v=1 의미 -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
 table, td, th {
 	border: 1px solid;
 	text-align: center;
 }
 table thead, button {
 	background-color: #C8D8E5;
 }
</style>
<body>
	<div class="container">
		<h1>메인페이지</h1>
		아이디 입력값(서치,수정,삭제 조건컬럼) : <input type="text" id="inputstr"><br>
		닉네임 변경값(수정 변경컬럼) : <input type="text" id="updatestr">
		
<!-- 		<button type="button" onclick="create()">등록</button> -->
		<button type="button" onclick="search()">서치</button>
		<button type="button" onclick="select()">조회</button>
		<button type="button" onclick="update()">수정</button>
		<button type="button" onclick="remove()">삭제</button>
		
	</div>
</body>
<script type="text/javascript">

var inputid="";
var updateparam="";

function update(){
	inputid = $("#inputstr").val();
	updateparam = $("#updatestr").val();
	var param = {
			'memId' : inputid         
			,'memPass' : '12356'      
			,'memNicname' : updateparam    
			};
	$.ajax({
		url : "/DEworld/member/update.do"
		,type : "post"
		,data : param
// 		,dataType : "json"
		,success : function(data){
		
		}
		,error : function(xhr){
			
		}
		
	});
}
function remove(){
	inputid = $("#inputstr").val();
	var param = {
			'memId' : inputid
			};
	$.ajax({
		url : "/DEworld/member/delete.do"
		,type : "post"
		,data : param
// 		,dataType : "json"
		,success : function(data){
			
		}
		,error : function(xhr){
			
		}
		
	});
}
 
function create(){
	inputid = $("#inputstr").val();
	var param = {
			'memId' : inputid         
			,'memPass' : '12356'      
			,'memName' : '홍길동'    
// 			,'memNickname' : '홍홍홍홍'  
// 			,'memGender' : '남자'    
// 			,'memBir' : '41/01/01'       
// 			,'memZip' :  '345-795'      
// 			,'memAdd1' : '대전 서구 읍내동 수정아파트'      
// 			,'memAdd2' : '926동 302호'       
// 			,'memHp' : '01026349926'        
// 			,'memMail' : 'cdwcdw34@gmail.com'      
// 			,'memCyberMoney' : 0
			};
	$.ajax({
		url : "/DEworld/member/create.do"
		,type : "post"
		,data : param
// 		,dataType : "json"
		,success : function(data){
			
		}
		,error : function(xhr){
			
		}
		
	});
}
function search(){
	inputid = $("#inputstr").val();
	var param = {
			"memId" : inputid
			};
	
	$.ajax({
		url : "/DEworld/member/search.do"
		,type : "post"
		,data : param
// 		,dataType : "json"
		,success : function(data){
			
		}
		,error : function(xhr){
			
		}
	});
	
function select(){
	$.ajax({
		url : "/DEworld/member/list.do"
		,type : "post"
// 		,data : param
// 		,dataType : "json"
		,success : function(data){
			
		}
		,error : function(xhr){
			
		}
	});
}

</script>
</html>
