@charset "UTF-8";
#showNoticeAll{
	position: absolute;
	color : black;
	text-decoration: none;
	right: 30px;
	top: 15px;
	font-size:30px;
}

#showNoticeAll:hover{
	position: absolute;
	right: 23px;
	top: 0px;
	font-weight: bolder;
	font-size: 50px;
}

#noticeTb tr:hover {
	background-color: #B4FBFF;
}

#noticeTb tr td.noticeTitle:hover {
	text-decoration: underline;
	cursor: Pointer;
}

#noticeTb td a {
	color: black;
	text-decoration: none;
}

#noticeTb th{
	text-align: center;
}
#NoticeList{
	width: 100%;
}