@charset "UTF-8";

#noticeTb tr:hover {
	background-color: #B4FBFF;
}

#noticeTb tr td.noticeTitle:hover {
	text-decoration: underline;
	cursor: Pointer;
}

.noticeTitle a {
	color: black;
	text-decoration: none;
}

#NoticeList {
	text-align: center;
}

#NoticeList {
	width: 100%;
	font-size: 20px;
}

.noticeTitle {
	text-align: left;
}