<!DOCTYPE html>
<html lang="kr">
<head>
<title>댓글</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- <script type="text/javascript" src="/JqueryPro/js/member/zippopup.html"></script> -->
<!-- ☆   ?v=1 의미 -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
 table, td, th {
 	border: 1px solid;
 	text-align: center;
 }
 table thead, button {
 	background-color: #C8D8E5;
 }
</style>
<body>
	<div class="container">
		<h1>friendreq</h1>
		<div id="div1">
		
		멤버ID 입력값 : <input type="text" id="inputMemId"><br>
		친구ID 입력값 : <input type="text" id="inputFriendId"><br>
		상태 입력값 : <input type="text" id="inputReqYn"><br>
		
		<br><br><br><br>
		<button type="button" onclick="create()">등록</button>
		<button type="button" onclick="search()">서치</button>
		<button type="button" onclick="select()">조회</button>
		<button type="button" onclick="update()">수정</button>
		<button type="button" onclick="remove()">삭제</button>
		</div>
		<br><br><br><br>
		
</body>
<script type="text/javascript">

var inputMemId="";
var inputFriendId="";
var inputReqYn="";

function update(){
	inputMemId = $("#inputMemId").val();
	inputFriendId = $("#inputFriendId").val();
	inputReqYn = $("#inputReqYn").val();
	
	var param = {
			'memId' : inputMemId         
			,'friendId' : inputFriendId    
			,'reqYn' : inputReqYn    
			};
	$.ajax({
		url : "/DEworld/friendreq/update.do"
		,type : "post"
		,data : param
// 		,dataType : "json"
		,success : function(data){
			
		}
		,error : function(xhr){
			
		}
		
	});
}

function remove(){
	if(chkmsg()){
		return;
	}
	inputFriendId = $("#inputFriendId").val();
	var param = {
			'friendId' : inputFriendId
			};
	$.ajax({
		url : "/DEworld/friendreq/delete.do"
		,type : "post"
		,data : param
// 		,dataType : "json"
		,success : function(data){
			
		}
		,error : function(xhr){
			
		}
	});
}

function create(){
	inputMemId = $("#inputMemId").val();
	inputFriendId = $("#inputFriendId").val();
	inputReqYn = $("#inputReqYn").val();
	
	var param = {
			'memId' : inputMemId         
			,'friendId' : inputFriendId         
			,'reqYn' : inputReqYn         
			};
	$.ajax({
		url : "/DEworld/friendreq/insert.do"
		,type : "post"
		,data : param
// 		,dataType : "json"
		,success : function(data){
			
		}
		,error : function(xhr){
			
		}
		
	});
}
function search(){
	inputMemId = $("#inputMemId").val();
	inputFriendId = $("#inputFriendId").val();
	inputReqYn = $("#inputReqYn").val();
	
	var param = {
			"memId" : inputMemId
			,"friendId" : inputFriendId
			,"reqYn" : inputReqYn
			};
	
	$.ajax({
		url : "/DEworld/friendreq/search.do"
		,type : "post"
		,data : param
// 		,dataType : "json"
		,success : function(data){
			
		}
		,error : function(xhr){
			
		}
	});
}

function select(){
	$.ajax({
		url : "/DEworld/friendreq/list.do"
		,type : "post"
// 		,dataType : "json"
// 		,data : param
		,success : function(data){
		
		}
		,error : function(xhr){
			
		}
	});
}
function chkmsg(){
		confirm("정말 삭제하시겠습니까?");
	}


</script>
</html>
